:root {
    --dark: #202124;
    --white: #bdc1c6;
}
 
html, body {
    background-color: var(--dark);
    color: var(--white);
    background-image: url('https://www.google.com/images/branding/googlelogo/1x/googlelogo_light_color_272x92dp.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 50% 20.5%;
    top: 20%;
    text-align: center;
}

.navbar {
    background-color: var(--dark);
    color: var(--white);
    display: block;
    padding: 6px;
}

.navbar-left {
    text-decoration: none;
    color: var(--white);
}

/* Search bar */
.container {
    vertical-align: middle;
}
.height {
    height: 0vh;
    
}

.form {
    position: relative;
    
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--dark);
    
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #bdc1c6 !important;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px
}

.form-control {
    background-color: #bdc1c6 !important;
    color: var(--white) !important;
    border-radius: 20px;
}
.form-input {
    height: 55px;
    text-indent: 33px;
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.search {
    position: relative;
    margin-top: 200px;
}

.transparent-input {
    background-color:transparent !important;
}

.left-pan {
    color: #bdc1c6 !important;

}

.fa-microphone {
    color: var(--white);
}

.btn {
    margin-top: 23px;
    margin-right: 11px;

}
